<div class="row">
    <div id="refinance-main" class="col-md main-header">
        <h3>If you're refinancing your loan, please indicate the address of the property on which
the loan was taken out.</h3>
    </div>
</div>
<form [formGroup]="refinanceForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-5">
            <label class="app-engine-label" for="fullNameFormControl">What is the street address?</label>
            <input type="text" class="form-control" formControlName="streetAddress">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <label class="app-engine-label" for="fullNameFormControl">What is the city?</label>
            <input type="text" class="form-control" formControlName="city">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <label class="app-engine-label control-label" for="fullNameFormControl">What is the state?</label>
            <select class="form-control" id="state" #state name="state" (change)="selectItem(state.value)" formControlName="state">
                <option value="">N/A</option>
                <option *ngFor="let value of stateValues" value={{value.value}}>{{value.label}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <label class="app-engine-label" for="fullNameFormControl">What is the zipcode?</label>
            <input type="number" pattern="^[0-9]{5}(?:-[0-9]{4})?$" class="form-control" formControlName="zipcode">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <button class="button" type="submit">Next</button>
        </div>
    </div>
</form>

<div class=" debug">
    <div class="row">
        <div class="col-sm-4">
            DEBUG: 
        </div>
    </div>

    <div class="row">
        <div class="col">
            Form Status: {{ refinanceForm.status }}
        </div>
    </div>
</div>